<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Armado de Login - Session y Cookies</title>
    
    <!-- FONT AWESOME -->
    <link rel="stylesheet" href="https://kit.fontawesome.com/1db27a1d0e.css" crossorigin="anonymous">

    <!-- ESTILOS -->
    <link rel="stylesheet" href="css/style.css">
</head>